<h1 class="d-flex justify-content-center mb-5"><%= @user.name %> Profile</h1>

<h2 class="d-flex justify-content-center">Created Events</h2>

<section class="d-flex justify-content-center">
    <% if @user.events.exists? %>
    <div>
        <% @user.events.each do |event| %>
            <div class="my-3">
                <div class="field d-flex justify-content-center"><%= link_to event.title, event_path(event) %></div>
            </div>
        <% end %>
    </div>
    <% else %>
        <h3>There are no created events</h3>
    <% end %>
</section>

<h2 class="d-flex justify-content-center mt-4">Previously Attended Events:</h2>

<section class="d-flex justify-content-center">
    <% if @attendances.exists? %>   
    <div>
        <% @attendances.where(attendee_id: current_user.id).each do |attendance| %>    
            <% if attendance.event.date < Date.today %>
                <div class="my-3">
                    <div class="field d-flex justify-content-center"><%= link_to attendance.event.title, event_path(attendance.event) %></div>
                </div>
            <% end %>
        <% end %>
    </div>
    <% else %>
        <h3><%= @user.name%> has not attended yet to any event</h3>
    <% end %>
</section>

<h2 class="d-flex justify-content-center mt-4">Upcoming Events With <%= @user.name %> Assistance:</h2>

<section class="d-flex justify-content-center">
    <% if @attendances.exists? %>   
    <div>
        <% @attendances.where(attendee_id: current_user.id).each do |attendance| %>    
            <% if attendance.event.date > Date.today %>
                <div class="my-3">
                    <div class="field d-flex justify-content-center"><%= link_to attendance.event.title, event_path(attendance.event) %></div>
                </div>
            <% end %>
        <% end %>
    </div>
    <% else %>
        <h3><%= @user.name%> has not attended yet to any event</h3>
    <% end %>
</section>
