<h1 class="d-flex justify-content-center">Events List</h1>
<h4 class="d-flex justify-content-center"><%= link_to "Create a new event.", new_event_path %></h4>

<section class="d-flex justify-content-center">
    <div>
        <% @events.each do |event| %>
            <div class="my-5">
                <div class="field d-flex justify-content-center"><%= event.title %></div>
                <div class="field d-flex justify-content-center"><%= event.description %></div>
                <div class="field d-flex justify-content-center"><%= event.date %></div>
                <div class="field d-flex justify-content-center"><%= event.place %></div>
            </div>
        <% end %>
    </div>
</section>