<h1>Show an specific event</h1>

<h1>Event Details</h1>
<h3>Title:</h3>
<div class="field"><%= @event.title %></div>
<h3>Description:</h3>
<div class="field"><%= @event.description %></div>
<h3>Date:</h3>
<div class="field"><%= @event.date %></div>
<h3>Place:</h3>
<div class="field"><%= @event.place %></div>
<h3>Creator:</h3>
<div class="field"><%= @event.creator[:name]%></div>